# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*$py.class

# Data (ignore only huge files if any)
# data/raw/*.csv   ← Uncomment only if your raw CSVs become very big

# Virtual environments
venv/
env/
.venv/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Reports (optional - keep figures if small)
# reports/figures/*.png